{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Get more help</h1>
      <p class="govuk-body">If you cannot find what you need, contact the Rural Payments Agency.</p>

      <h2 class="govuk-heading-m">Telephone</h2>
      <p class="govuk-body">
        RPA helpline: 03000 200 301<br>
        Monday to Friday, 9am to 5pm
      </p>

      <h2 class="govuk-heading-m">Before you call</h2>
      <p class="govuk-body">Have your single business identifier (SBI) ready if you have one. Do not share personal or financial details until you are sure you are speaking to RPA.</p>

      <p class="govuk-body">
        <a class="govuk-link" href="/find-funding/results">Back to funding options</a>
      </p>
    </div>
  </div>
{% endblock %}
